name: CI

on:
  push:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Secret Access Validation
        run: echo The length of the secret token ${#TOKEN}.
        with:
          TOKEN: ${{ secrets.EXPO_TOKEN }}
